<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Hola mundo</h1>
    <hr>
    <table class="table-success">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row-2">jonathan</td>
            <td>cevallos</td>
            <td>20</td>
        </tr>
        <tr>
            <td scope="row-2">Maria</td>
            <td>Piguabe</td>
            <td>50</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>